.card {
  position: relative;
}

.card h2 {
  position: absolute;
  top: -90px;
  left: 20px;
  color: white;
  width: 300px;
  height: 52px;
  line-height: 142, 6%;
  font-size: 18px;
  font-weight: 500;
}

.card-img {
  width: 340px;
  height: 300px;
  border-radius: 10px;
  object-fit: cover;
  margin-top: 5px;
  margin-bottom: 30px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 92%;
  margin-top: 110px;
  margin-left: 50px;
  padding-top: 35px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 10px;
  background-color: #f7f7f7;
  border-radius: 25px;
}

.card-div {
  background: linear-gradient(185deg, transparent 60%, rgba(0, 0, 0, 0.5));
  border-radius: 10px;
  width: 340px;
  height: 300px;
  bottom: 34px;
  position: absolute;
}

@media screen and (max-width: 767px) {
  .card h2 {
    width: 80%;
  }

  .card-img {
    width: 100%;
    height: 225px;
  }

  .card-div {
    width: 100%;
  }
  .card-container {
    display: grid;
    margin-left: 20px;
    margin-top: 52px;
    background-color: rgba(255, 255, 255, 0);
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
  }
}