.title-apart {
    display: flex;
    font-size: 24px;
    color: #ff6060;
    margin-top: 0px;
  }
  
  .location {
    color: #ff6060;
    font-size: 17px;
    font-weight: 400;
    margin-top: -10px;
  }
  
  @media screen and (max-width: 767px) {
    .title-apart {
      font-weight: 400;
      padding-top: 20px;
    }
  }